<!-- Início Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul>
                    <li><a href="#" title="Facebook">
                        <fa-icon [icon]="faFacebook" class="faFacebook fa-2x p-3"></fa-icon>
                    </a></li>
                    <li><a href="#" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-2x p-3"></fa-icon>
                    </a></li>
                </ul>				
            </div>
        </div>
    </div>
    <!-- início Copyright -->
    <div class="footer-copyright bg-dark text-center py-2 ">
        <p class="text-light"> © 2020 Copyright: Eduardo Freitas </p> 
    </div> <!-- Fim Copyright -->
    
</footer> <!-- Fim Footer -->