<!-- Carousel -->
<div class="carousel slide" id="carouselHome" data-ride="carousel">
    <!-- Indicadores carousel -->
    <ol class="carousel-indicators">
        <li class="active" data-target="#carouselHome" data-slide-to="0"></li>
        <li data-target="#carouselHome" data-slide-to="1"></li>
        <li data-target="#carouselHome" data-slide-to="2"></li>
        <li data-target="#carouselHome" data-slide-to="3"></li>
        <li data-target="#carouselHome" data-slide-to="4"></li>
    </ol>
    <!-- Slides carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/McLaren-720S-2018-1600-07.jpg" alt="McLaren 720S" class="img-fluid d-block">
            <div class="carousel-caption d-none d-md-block text-light">
                <h1>Dream Rental</h1>
                <p class="lead">Alugue um McLaren 720S conosco!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/Porsche-911_Turbo_S-2021-1600-39.jpg" alt="Porsche 911 Turbo S" class="img-fluid d-block">
            <div class="carousel-caption d-none d-md-block text-light">
                <h1>Dream Rental</h1>
                <p class="lead">Alugue um McLaren Porsche 911 Turbo S conosco!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/Audi-R8_Coupe-2019-1600-05.jpg" alt="Audi R8 Coupe" class="img-fluid d-block">
            <div class="carousel-caption d-none d-md-block text-light">
                <h1>Dream Rental</h1>
                <p class="lead">Alugue um Audi R8 Coupe conosco!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/Jaguar-F-Type_Convertible-2021-1600-13.jpg" alt="Jaguar F-Type Convertible" class="img-fluid d-block">
            <div class="carousel-caption d-none d-md-block text-light">
                <h1>Dream Rental</h1>
                <p class="lead">Alugue um Jaguar F-Type conosco!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/Chevrolet-Corvette_C8_Stingray-2020-1600-03.jpg" alt="Chevrolet Corvette C8 Stingray" class="img-fluid d-block">
            <div class="carousel-caption d-none d-md-block text-light">
                <h1>Dream Rental</h1>
                <p class="lead">Alugue um Corvette C8 Stingray conosco!</p>
            </div>
        </div>
    </div>
    <!-- Controles carousel -->
    <a href="#carouselHome" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a href="#carouselHome" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div> <!-- Fim do carousel -->

<!-- Título e texto abaixo do carousel -->
<main id="quemSomos">
    <article class="container mb-3">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1 class="display-4">Quem somos</h1>
                <p class="lead">Nós da Dream Rental temos como objetivo a concretização de sonhos!</p>
                <p class="lead">Através de nossas unidades, possibilitamos a locação de veículos esportivos e superesportivos ao grande público, assim podendo proporcionar doses de emoção aos motoristas entusiastas do automóvel.</p>
                <p class="lead">Estamos presentes nas maiores capitais brasileiras, além de também nos maiores autódromos de nosso país, tais como Interlagos, Curitiba, Goiânia, Velo Città, Tarumã e VeloPark.</p>
                <p class="lead">Entre em <a id="link-texto" routerLink='/contact'>contato</a> conosco para maiores informações.</p>
            </div>
        </div>
    </article>
</main>