main{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/landscape2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

textarea{
    resize: none;
}

.jumbotron{
    background-color: rgba(255, 255, 255, 0.85);
}